###### Requirements with Version Specifiers ######`
matplotlib == 3.4.1             # Version Matching.
pandas == 1.2.4                 # Version Matching.
numpy == 1.21.6                 # Version Matching.
Keras == 2.9.0                  # Version Matching.